# Visual Studio specific
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Rider specific
.idea/
*.sln.iml

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa]rm64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Cc]lient/[Bb]in/
[Cc]lient/[Oo]bj/

# .NET
project.lock.json
project.assets.json
*.nuget.props
*.nuget.targets

# Nuget packages
*.nupkg
# The packages folder can be ignored because of Package Restore
**/packages/*
# except build/, which is used as an MSBuild target.
!**/packages/build/

# Windows specific
Thumbs.db
ehthumbs.db
[Dd]esktop.ini
$RECYCLE.BIN/

# Miscellaneous
*.pem
*.key
*.bak
*.tmp
